:root {
	--text-color: #F1FFF6;
	--primary-color: #24E5A3;
	--blue-color: #5EF4D6;
	--purple-color: #4143B1;
	--black-color: #221727;
}

* {
	font-family: 'Rubik', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}


/* navbar */
.navbar {
	align-items: center;
	background-color: var(--black-color);
	display: flex;
	flex-direction: row;
	height: 4em;
	padding: 0 1.2em;
}

.nav {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

ul, .nav-links {
	display: none;
}

.nav-link {
	list-style: none;
}

.hamburger {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: 2em;
	outline: none;
	position: relative;
	width: 2em;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	background-color: var(--primary-color);
	content: '';
	display: block;
	height: 0.2em;
	margin: 0.4em 0;
	transition: 0.4s;
	width: 100%;
}

/* main body styles */
main {
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background: url("images/mintbean-dome.png");
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 3em 0;
	width: 90%;
}

/* Card */
.card {
	align-items: center;
	background: var(--black-color);
	border-radius: 0.4em;
	border: solid 3px var(--blue-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 80%;
	padding: 1.4em;
}

.card-title {
  opacity: 100%;
  font-size: 1.5em;
  text-transform: uppercase;
}

.card-title > h1 {
  font-family: 'Viga', sans-serif;
}

.card-content {
	margin: 1em 0;
	line-height: 1.5em;
}

.card-footer {
	display: flex;
	flex-direction: column;
	margin-top: 1.2em;
	width: 100%;
}

.border-right {
	border-right: 1px solid white;
}

.btn {
	background-color: var(--blue-color);
	border-radius: 5px;
	border: none;
	color: var(--black-color);
	font-size: 1.4em;
	opacity: 100%;
	padding: 0.2em 1em;
	text-align: center;
	text-transform: uppercase;
}
